################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/peta/CopilotIndices/17.14.1091.29919
/.vs/peta/FileContentIndex
/.vs/peta/v17/ipch/AutoPCH
/2-6/vending/.vs/vending/CopilotIndices/17.14.1091.29919
/2-6/vending/.vs/vending/FileContentIndex
/2-6/vending/.vs/vending/v17
/2-6/vending/.vs/vending/CopilotIndices/17.14.1204.46620
/2-6/vending/vending/x64/Debug/vending.tlog
/2-6/vending/vending/x64/Debug
